doctype html
html(lang="en")
	head
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		title Header
		link(href="images/favicon.png", rel="icon" type="image/png")
		link(href="styles/css/style.css", rel="stylesheet")
	body
		div.header
			img.logo(src="http://academy.binary-studio.com/resources/logo.png")
			div.buttons
				input.searchBar(placeholder="Search")
				button.searchBtn Filter
				div#userProfile
					img.avatar(src="https://avatars1.githubusercontent.com/u/1202528?v=3&s=460")
					span#userName John PAPA
				button#appsBtn
					img.appsLogo(src="images/Thumbnails.png")
				button#notificationBtn
					img.appsLogo(src="images/bell.png")
		div#appsBlock.invisible
			div.appButtons
				div.row
					div.appButton.firstinrow
						button#myaccountAppBtn.singleAppBtn
							img.appsLogo(src="images/myaccount.png") 
						span.appName My Account
					div.appButton.secondinrow
						button#pdpAppBtn.singleAppBtn
							img.appsLogo(src="images/pdp.png") 
						span.appName My Profile
					div.appButton.thirdinrow
						button#qaAppBtn.singleAppBtn
							img.appsLogo(src="images/qa.png") 
						span.appName QA platform
				div.row
					div.appButton.firstinrow
						button#codereviewAppBtn.singleAppBtn
							img.appsLogo(src="images/codereview.png") 
						span.appName Code Review Requests
					div.appButton.secondinrow
						button#hrAppBtn.singleAppBtn
							img.appsLogo(src="images/hr.png") 
						span.appName HR Hunter
					div.appButton.thirdinrow
						button#feedbacksAppBtn.singleAppBtn
							img.appsLogo(src="images/feedbacks.png") 
						span.appName Feedbacks
				div.row
					div.appButton.firstinrow
						button#accountingAppBtn.singleAppBtn
							img.appsLogo(src="images/accounting.png") 
						span.appName Accounting
		div#notificationBlock.invisible
			ul#notificationList
	script(src="javascripts/headerAll.js")
	

