div.header
	img.logo(src="http://academy.binary-studio.com/resources/logo.png")
	div
		div.buttons
			input#searchBar(placeholder="Search")
			button.searchBtn Filter
			a#userLink.noTextDecoration
				div#userProfile
					img#avatar.avatar
					span#userName
			button#appsBtn
				img.appsLogo(src="http://team.binary-studio.com/app/images/Thumbnails.png")
			button#notificationBtn
				img.appsLogo(src="http://team.binary-studio.com/app/images/bell.png")
		div#search
div#appsBlock.invisible
	div#appsList
div#notificationBlock.invisible
	ul#notificationList
	a.noTextDecoration(href="#")
		div.notifButton Read all
	a.noTextDecoration(href="http://team.binary-studio.com/app/#/")
		div.notifButton Notification page
	a.noTextDecoration(href="http://team.binary-studio.com/app/#/settings")
		div.notifButton App settings



