div.header
	img.logo(src="http://academy.binary-studio.com/resources/logo.png")
	div.buttons
		input.searchBar(placeholder="Search")
		button.searchBtn Filter
		div#userProfile
			img.avatar(src="https://avatars1.githubusercontent.com/u/1202528?v=3&s=460")
			span#userName John PAPA
		button#appsBtn
			img.appsLogo(src="http://team.binary-studio.com/app/images/Thumbnails.png")
		button#notificationBtn
			img.appsLogo(src="http://team.binary-studio.com/app/images/bell.png")
div#appsBlock.invisible
div#notificationBlock.invisible
	ul#notificationList





