body
	margin 0
.header
	justify-content space-between
	display flex
	height 70px
	background black
	top 0
	padding 5px 15px 5px 15px
	
.logo
	height 100%
.searchBar
	border-radius 5px 0 0 5px
.searchBtn
	border-radius 0 5px 5px 0
	border none
	
.buttons
	margin-right 4px
	align-self center
	display flex

#userName
	margin-left 20px
	
#userProfile
	padding-right 10px
	display flex
	justify-content flex-end
	align-items center
	height 30px
	border none
	border-radius 5px
	background #FFA800
	cursor pointer
	color white
	margin-left 10px
.avatar
	height 92%
	border 1px solid #FFA800
	border-radius 5px
	
#appsBtn
	padding 3px;
	border none
	height 30px
	width 30px
	border-radius 5px
	background #FFA800
	cursor pointer
	margin-left 10px
	
.appsLogo
	width 100%
	
#notificationBtn
	padding 3px;
	border none
	height 30px
	width 30px
	border-radius 5px
	background #FFA800
	cursor pointer
	margin-left 10px

#notificationBlock
	background #FFA800
	max-height 800px
	// overflow overlay
	width 300px
	border-radius 20px
	right 0
	position absolute
	transition 0.2s
	&:before
		width 0 
		height 0 
		border-left 20px solid transparent
		border-right 20px solid transparent
		border-bottom 20px solid #FFA800
		content ''
		margin-top -20px
		margin-left 245px
		position absolute
		
#appsBlock
	background #FFA800
	min-height 300px
	width 265px
	border-radius 20px
	right 0
	position absolute
	transition 0.2s
	&:before
		width 0 
		height 0 
		border-left 20px solid transparent
		border-right 20px solid transparent
		border-bottom 20px solid #FFA800
		content ''
		margin-top -20px
		margin-left 170px
		position absolute
.invisible
	opacity 0
	display none
button
	cursor pointer
	transition all .1s linear
	&:active
		transform translateY(3px)
		
#notificationList
	padding-left 5px
		
.liNotification
	list-style-type none;
	
.notification
	display flex
	margin-top 10px
.imgApp
	align-self center


.appButton
	margin 5px
	display table-cell
	padding-left 20px
	padding-bottom 10px
.row
	display table-row
.firstinrow
	padding-left 10px
.secondinrow
	padding-left 10px
.appName
	margin-left 5px
	display table-caption
	text-align center
.singleAppBtn
	background #fff
	border none
	


.textBlockNotification
	display flex
	flex-direction column
	flex-grow 1
	align-items flex-end
.titleNotification
	width 100%
	margin-bottom 3px
	margin-top 3px
	
.textNotification
	display block
	display -webkit-box
	max-height 55.2px
	overflow hidden
	text-overflow ellipsis	
	-webkit-line-clamp 3
	-webkit-box-orient vertical


	// display block
	// 
	// max-width 400px
	// height 55.2px
	// margin 0 auto
	// font-size 26px
	// line-height 1.4
	// -webkit-line-clamp 3
	// -webkit-box-orient vertical
	// overflow hidden
	// text-overflow ellipsis

@media only screen and (max-width: 640px)
	#userProfile
		padding-right 0px
	#userName
		display none

@media only screen and (max-width: 500px)
	.header
		margin-top 40px
	#userProfile
		padding-right 0px
	#userName
		display none
	.searchBar
		padding-left 10px
		margin-top -65px
		height 36px
		left 0
		position fixed
		width 100%
		border 2px solid #dadada
		&:focus
			outline none
			border-color #9ecaed
			box-shadow 0 0 10px #9ecaed
	.searchBtn
		margin-top -64px
		padding-left 25px
		padding-right 25px
		height 38px
		right 0
		position fixed
	.logo
		width 155px